<h1><%= @task.title %></h1>
<p><%= @task.details %></p>

<%= link_to "edit #{@task.title}",
            edit_task_path(@task) %>


<%= link_to "Remove #{@task.title}",
            task_path(@task),
            method: :delete,
            data: { confirm: "Are you sure?" } %>


<%= link_to "back" ,tasks_path %>
